@model Instructor
@{
    ViewData["Title"] = "Create";
}


<h1 class="mb-4 text-center">Add New Instructor</h1>

<form asp-action="Create" method="post" class="needs-validation" style="padding-left:10%;padding-right:10% " novalidate>
    <partial name="PartialViews/CreateEditPartial" model="@Model" />

    <div class="d-flex gap-2 justify-content-center">
        <input type="submit" name="Submit" value="Submit" style="padding-left:10%;padding-right:10% " class="btn btn-primary" />
        <a class="btn btn-secondary" style="padding-left:10%;padding-right:10% " asp-area="" asp-controller="Instructor" asp-action="Index">Back To List</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
