@model Dictionary<Student,int>

@{
    ViewData["Title"] = "Grade";
}

<h1 class="text-center">Grades</h1>

<form asp-action="Grade" method="post" class="needs-validation" >

    <div class="form-group mb-3">
        <div>
            @foreach (var stu in Model)
            {
                <div class="box  gradeBox">
                    
                       @stu.Key.Id - @stu.Key.Name
                 
                    <input type="hidden" name="Grades" value="@stu.Key.Id" />
                    <input type="number" name="Grades[@stu.Key.Id]" value="@stu.Value" class="form-control numInput" min="0" max="100" placeholder="Enter Grade" required />
                  
                </div>
            }
        </div>
    </div>

    <div class="d-flex gap-2 justify-content-center">
        <input style="padding-left:5%;padding-right:5%;" type="submit" value="Add" class="btn btn-primary" />
        <a style="padding-left:4%;padding-right:4%;" class="btn btn-secondary" asp-controller="OfferedCourse" asp-action="Index">Back To List</a>
    </div>
</form>
